<section class="px-16 py-10">
  <div class="flex justify-between">
    <h1 class="text-2xl font-semibold mb-8">Inventarios</h1>
    <p-button label="Generar nuevo inventario" severity="success" (onClick)="createNewInventory()"/>
  </div>
  <p-table 
    #inventoriesDataTable
    [value]="inventories" 
    [loading]="loading" 
    [paginator]="true" 
    [rows]="20" 
    [rowsPerPageOptions]="[10, 15, 20, 25, 50]"
    [globalFilterFields]="['name', 'sku', 'barcode']"
    dataKey="id"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridless rounded-md">
    <ng-template pTemplate="header">
      <tr class="h-16">
        <th class="w-[150px]">Imagen</th>
        <th class="w-[350px]" pSortableColumn="product.name">Producto <p-sortIcon class="ml-2" field="product.name"/></th>
        <th class="w-[250px]">Precio venta</th>
        <th class="w-[300px]" pSortableColumn="branch.name">Sucursal <p-sortIcon class="ml-2" field="branch.name"/></th>
        <th class="w-[350px]">Stock</th>
        <th class="w-[350px]">Último movimiento</th>
        <th class="w-[120px]">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-inventory>
      <tr [pSelectableRow]="inventory" [pSelectableRowIndex]="inventory.id">
        <td>
          <div class="w-14 aspect-square rounded-md border border-gray-200 overflow-hidden">
            <img [src]="getProductImageUrl(inventory.product.imageUrl)" [alt]="inventory.product.name" class="w-full h-full object-cover">
          </div>
        </td>
        <td class="font-semibold">
          <div class="flex flex-col">
            <small class="text-xs font-medium">{{ inventory.product.sku }}</small>
            {{ inventory.product.name }}
          </div>
        </td>
        <td>{{ inventory.product.price | currency: 'Q' }}</td>
        <td>{{ inventory.branch.name }}</td>
        <td>{{ inventory.stock }} {{ inventory.product.unit?.abbreviation || "" }}</td>
        <td>{{ (inventory.lastMovementDate | date:'shortDate') || "Sin movimientos" }}</td>
        <td>
          <div class="flex gap-2">
            <p-button icon="pi pi-pencil" severity="warn" />
            <p-button 
              icon="pi pi-trash" 
              severity="danger" 
              (onClick)="onDeleteInventory(inventory)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>