<div class="w-full h-screen bg-[#2D3250] flex items-center justify-center">
  <div class="w-full h-full sm:w-[90%] md:w-[80%] lg:w-[70%] sm:h-[90%] md:h-[80%] grid grid-cols-1 md:grid-cols-2 sm:rounded-4xl overflow-hidden shadow-2xl">
    <!-- Lado del Formulario -->
    <div class="w-full h-full bg-[#424769] p-6 sm:p-10 flex items-center justify-center">
      <div class="w-full max-w-md md:px-12 lg:px-16 text-white text-center md:text-left">
        <!-- Logo en móvil -->
        <div class="md:hidden flex justify-center mb-10">
          <img src="svg/Logo caben programa-01.svg" alt="Logo" class="h-40 w-auto brightness-0 invert" />
        </div>

        <h1 class="text-3xl sm:text-4xl font-bold mb-2">¡Bienvenido!</h1>
        <p class="text-slate-300">Inicia sesión para continuar.</p>
        
        <section class="py-8">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="grid gap-6">
            <p-floatlabel variant="in">
                <input 
                  pInputText 
                  id="email" 
                  formControlName="email" 
                  type="email" 
                  autocomplete="off" 
                  class="bg-[#676F9D]! text-white! w-full !border-slate-500/30 focus:!border-indigo-400"
                />
                <label for="email" class="!text-slate-300">Email</label>
            </p-floatlabel>

            <p-floatlabel variant="in">
                <input 
                  pInputText 
                  id="password" 
                  formControlName="password" 
                  type="password" 
                  autocomplete="off" 
                  class="bg-[#676F9D]! text-white! w-full !border-slate-500/30 focus:!border-indigo-400"
                />
                <label for="password" class="!text-slate-300">Contraseña</label>
            </p-floatlabel>

            <p-button 
              type="submit" 
              [loading]="isLoading()" 
              label="Acceder al Sistema" 
              class="mt-4" 
              styleClass="w-full sm:px-8! py-3! font-bold text-lg rounded-xl!" 
            />
          </form>
        </section>
      </div>
    </div>

    <!-- Lado de la Imagen (Solo Desktop) -->
    <div class="hidden md:block w-full h-full relative">
      <div class="absolute inset-0 bg-indigo-600/20 mix-blend-overlay z-10"></div>
      <img src="img/SplashScreen.jpeg" class="object-cover object-center w-full h-full" alt="Enterprise Splashart">
      <!-- Overlay de marca en la imagen -->
      <div class="absolute bottom-10 left-10 z-20">
        <img src="svg/Logo caben programa-01.svg" alt="Caben Logo" class="h-12 w-auto brightness-0 invert opacity-80" />
      </div>
    </div>
  </div>
</div>