<div class="flex justify-end">
  @if (currentAlert()) {
    <div class="max-w-[70%] overflow-hidden px-6 py-4 rounded-xl bg-red-100 border border-red-200 flex gap-4 items-center justify-between shadow-sm transition-all duration-[800ms] [transition-timing-function:cubic-bezier(0.4,0,0.2,1)]">
      <div class="flex items-center gap-4 text-gray-500 w-full">
        <div class="w-10 h-10 rounded-full flex items-center justify-center text-rose-400 flex-shrink-0">
          <i class="pi pi-exclamation-triangle text-3xl! font-bold animate__animated animate__pulse animate__infinite animate__slower"></i>
        </div>
        
        <div class="flex-grow">
          @for (alert of [currentAlert()]; track alert?.productId + '-' + currentAlertIndex()) {
            <div class="animate__animated animate__fadeIn animate__slower">
              <p class="text-rose-500 font-semibold text-sm leading-snug tracking-tight">
                {{ alert?.message }}
              </p>
              <div class="text-xs text-rose-700">
                Stock actual: <span class="font-semibold">{{ alert?.currentStock }} {{ alert?.unit }}</span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
