<section class="px-16 py-10">
  <div class="flex justify-between">
    <h1 class="text-2xl font-semibold mb-8">Clientes</h1>
    <p-button label="Nuevo cliente" severity="success" (onClick)="createCustomer()" />
  </div>
  <p-table
    #customersDataTable
    [value]="customers()"
    [loading]="loading()"
    [(selection)]="selectedCustomers"
    [paginator]="true"
    [rows]="20"
    [rowsPerPageOptions]="[10, 15, 20, 25, 50]"
    [globalFilterFields]="['name', 'nit', 'phone', 'email']"
    [scrollable]="true"
    dataKey="id"
    class="p-datatable-striped p-datatable-sm p-datatable-gridless rounded-md"
  >
    <ng-template pTemplate="header">
      <tr class="h-16">
        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
        <th class="w-[400px]" pSortableColumn="name">
          Cliente <p-sortIcon class="ml-2" field="name" />
        </th>
        <th class="w-[200px]">NIT</th>
        <th class="w-[300px]" pSortableColumn="branch.name">
          Contacto <p-sortIcon class="ml-2" field="branch.name" />
        </th>
        <th class="w-[250px]">Correo</th>
        <th class="w-[500px]">Dirección</th>
        <th class="w-[350px]">Fecha de registro</th>
        <th class="w-[120px]">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr class="h-16">
        <td>
            <p-tableCheckbox [value]="customer" />
        </td>
        <td>
          <div class="flex flex-col font-semibold">
            <small class="text-xs font-medium"><span class="font-bold mr-1">Categoría:</span>{{ customer.category.name }}</small>
            {{ customer.name }}
          </div>
        </td>
        <td>{{ customer.nit }}</td>
        <td>
          <div class="flex flex-col font-semibold">
            <small class="text-xs font-medium">{{ customer.contactName }}</small>
            {{ customer.phone }}
          </div>
        </td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.createdAt | date: 'dd/mm/yyy hh:mm a' }}</td>
        <td>
          <div class="flex gap-2">
            <p-button icon="pi pi-pencil" severity="warn" (onClick)="editCustomer(customer.id)" />
            <p-button icon="pi pi-trash" severity="danger" (onClick)="deleteCustomer(customer)" />
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">
          <div class="flex justify-center items-center gap-2 py-12">
            <i class="pi pi-exclamation-circle"></i>
            Aún no hay clientes registrados
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
