<div class="relative" #searchContainer>
  <p-floatLabel variant="on">
    <input
      pInputText
      id="SearchInput"
      type="text"
      autocomplete="off"
      [(ngModel)]="searchQuery"
      (input)="onSearchProduct()"
      (focus)="showProductResults = true"
      class="w-full"
    />
    <label for="SearchInput">Búsqueda de productos</label>
  </p-floatLabel>
  @if (showProductResults) {
  <div
    class="absolute top-full z-10 mt-2 rounded-lg border border-gray-300 w-full bg-white shadow-lg overflow-hidden"
  >
    <div class="flex p-1 bg-[#F6F6F6] border-b border-gray-300">
      <p-button
        class="p-0!"
        label="Crear producto"
        icon="pi pi-plus"
        variant="text"
        severity="info"
        (onClick)="onCreateNewProduct()"
        size="small"
      >
      </p-button>
    </div>
    <div class="flex flex-col">
      @if (filteredProducts.length === 0) {
      <div class="flex justify-center items-center gap-2 py-6 text-sm">
        <i class="pi pi-exclamation-circle"></i>
        Sin resultados
      </div>
      } @else { @for (product of filteredProducts; track $index) {
      <div
        class="flex items-center justify-between px-4 py-2 cursor-pointer hover:bg-[#F9F9F9]"
        (click)="selectProduct(product)"
      >
        <p>{{ product.name }}</p>
        <div>
          <p class="text-xs text-gray-400">Código: {{ product.barcode }}</p>
          <p class="text-xs text-gray-400">SKU: {{ product.sku }}</p>
        </div>
      </div>
      } }
    </div>
  </div>
  }
</div>
