:host ::ng-deep .p-inputtext:focus {
  box-shadow: none !important;
}

:host ::ng-deep textarea:focus {
  box-shadow: none !important;
}

input::placeholder, textarea::placeholder {
  color: #cbcbcb !important;
  font-size: 0.9rem;
}
