:host {
    display: block;
    height: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Fix for ApexCharts labels */
::ng-deep .apexcharts-xaxis-label, 
::ng-deep .apexcharts-yaxis-label {
    font-weight: 500 !important;
}

::ng-deep .apexcharts-legend-text {
    font-weight: 600 !important;
    color: #475569 !important;
    font-family: inherit !important;
}
