.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

:host ::ng-deep .p-datatable-modern .p-datatable-tbody > tr > td {
    padding: 1rem 1.5rem;
}
